{% extends '::base.html.twig' %}
{% block extraScripts %}
<script src="{{ asset('assets/js/bootstrap-datepicker.js') }}" id="script-resource-12"></script>
<script src="{{ asset('assets/js/select2/select2.min.js') }}" id="script-resource-8"></script>
{% endblock %}
{% block extraCSS %}
<link rel="stylesheet" href="{{ asset('assets/js/select2/select2-bootstrap.css') }}" id="style-resource-1">
<link rel="stylesheet" href="{{ asset('assets/js/select2/select2.css') }}" id="style-resource-2">
{%  endblock%}
{% block body %}
<div class="panel panel-default panel-info" data-collapsed="0">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-reorder"></i>Perfiles de "{{ nombre }}"
        </div>
    </div>
    <div class="panel-body">
        <form id="form" class="form-horizontal" method="POST" action="{{ path('editar_perfiles_usuario', { pk : pk}) }}" novalidate="">
            <div class="form-body">
                <center><font color="red" size="5">{{ error }}</font></center></br>
                <div class="form-group">
                    {{ form_label(form.Perfiles, '', { 'label_attr' : { 'class' : 'col-md-3' } } ) }}
                    <div class="col-md-4">
                            {{form_widget(form.Perfiles)}}
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <center>
                    <input type="submit" style="visibility: collapse"/>
                    <a href="javascript:{}" onclick="form.submit();
                            return true;"class="btn btn-green">
                        <i class="entypo-floppy"></i> Guardar
                    </a>
                    <a href="{{ path('GEA_SoporteBundle_Usuario_list') }}" class="btn btn-red">
                        <i class="entypo-ccw"></i> Regresar
                    </a>
                </center>
            </div>
                {{form_rest(form)}}
        </form>
    </div>
</div>
{% endblock %}
